<div class="row justify-content-center m-0 p-0">
    <div class="col-12 col-sm-12 col-md-7 contenedor">
        <h1>Gestion de Usuario</h1>
        <form class="formulario" #formLocal="ngForm">
            <div class="encabezado">
                <h5>Registrar Usuario</h5>
            </div>
            <div class="contenedor-formulario p-3">
                <p class="text-danger"[hidden]="!formLocal.invalid">*Todos los campos son obligatorios</p>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"
                        placeholder="Ingrese el apellido" [(ngModel)]="usuario.apellido" required
                        #apellido="ngModel" autocomplete="off">
                    <div class="alert alert-danger m-2" [hidden]="apellido.valid || apellido.pristine">
                        Campo obligatorio. Apellido.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                        placeholder="Ingrese el nombre" [(ngModel)]="usuario.nombre" required
                        #nombre="ngModel" autocomplete="off">
                    <div class="alert alert-danger m-2" [hidden]="nombre.valid || nombre.pristine">
                        Campo obligatorio. Nombre.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese DNI"
                        [(ngModel)]="usuario.dni" required #dni="ngModel" autocomplete="off"
                        pattern="^[1-9][0-9]{7,8}$" maxlength="8">                        
                    <div *ngIf="dni.invalid && (dni.dirty || dni.touched ||email.touched)" class="alert alert-danger m-2">
                        <div *ngIf="dni.errors?.['required']">
                            Campo obligatorio.
                        </div>
                        <div *ngIf="dni.errors?.['pattern']">
                            El DNI debe ser un número positivo de 8 dígitos.
                        </div>
                    </div>
                </div>
                

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese email"
                        [(ngModel)]="usuario.email" required #email="ngModel" autocomplete="off"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div *ngIf="email.invalid && (email.dirty || email.touched ||telefono.touched)" class="alert alert-danger m-2">
                        <div *ngIf="email.errors?.['required']">
                            Campo obligatorio.
                        </div>
                        <div *ngIf="email.errors?.['pattern']">
                            Formato de email no válido.
                        </div>
                    </div>
                </div>
                

                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese número de teléfono"
                        [(ngModel)]="usuario.telefono" required #telefono="ngModel" autocomplete="off"
                        pattern="^[1-9][0-9]{3,}$" maxlength="10">
                    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched ||password.touched)" class="alert alert-danger m-2">
                        <div *ngIf="telefono.errors?.['required']">
                            Campo obligatorio. Teléfono.
                        </div>
                        <div *ngIf="telefono.errors?.['pattern']">
                            El número de teléfono debe ser un número positivo con al menos 4 dígitos.
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwword" name="password" placeholder="Ingrese la contraseña"
                        [(ngModel)]="usuario.password" required #password="ngModel" autocomplete="off">
                        <div class="alert alert-danger m-2" [hidden]="password.valid || password.pristine">
                            Campo obligatorio. Password.
                        </div>
                </div>

                <div class="mb-3">
                    <label for="rol" class="form-label">Rol</label>
                    <select class="form-select" id="rol" name="rol" [(ngModel)]="usuario.rol">
                        <option *ngFor="let r of roles" [ngValue]="r">{{r.nombre}}</option>
                    </select>
                </div>

                <div class="boton-formulario">
                    <button *ngIf="accion == 'new'" type="submit" class="btn btn-success m-md-2" [disabled]="formLocal.invalid || validarCamposUsuario()" (click)="agregarUsuario()">Registrar</button>
                    <button *ngIf="accion == 'update'"type="submit" class="btn btn-warning m-md-2" (click)="actualizarUsuario()">Actualizar</button>

                    <button type="button" class="btn btn-primary m-md-2"(click)="irALista()">Ir a lista Usuarios</button>
                </div>
            </div>
        </form>
    </div>
</div>