<div class="row p-0 m-0 mt-3 contenedor">

    <div class="col-10 col-md-5 mb-3">
        <div class="card text-center">
            <div class="card-header">
                <h2>Locales</h2>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <canvas id="graficoLocales"></canvas>
            </div>
            <div class="card-footer text-body-secondary">

            </div>
        </div>
    </div>

    <div class="col-10 col-md-5 mb-3">
        <div class="card text-center">
            <div class="card-header">
                <h2>Novedades</h2>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <canvas id="graficoNovedades"></canvas>
                <p>Total de Novedades: {{novedadTotal}}</p>
            </div>
            <div class="card-footer text-body-secondary">

            </div>
        </div>
    </div>

    <div class="col-10 col-md-5">
        <div class="card text-center">
            <div class="card-header">
                <h2>Pagos Mensuales</h2>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <canvas id="graficoPagosMensuales"></canvas>
            </div>
            <div class="card-footer text-body-secondary">

            </div>
        </div>
    </div>
</div>