<footer class="py-3 my-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
    
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Dejanos Ayudarte </h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark">Tu cuenta </a>
                </p>
                <p>
                    <a href="#" class="text-dark">Tus ordenes </a>
                </p>
                <p>
                    <a href="#" class="text-dark">Ayuda </a>
                </p>
                <p>
                    <a href="#" class="text-dark">Manejo de Cuentas </a>
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">HAS DINERO</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark">Vende Producto en nuestro Locales </a>
                </p>
                <p>
                    <a href="#" class="text-dark">Anuncios </a>
                </p>
                <p>
                    <a href="#" class="text-dark">Afiliate</a>
                </p>
                <p>
                    <a href="#" class="text-dark">Publica </a>
                </p>

            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Anunciantes</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark">Publicidad</a>
                </p>
                <p>
                    <a href="#" class="text-dark">Noticias </a>
                </p>
                <p>
                    <a href="#" class="text-dark">Valuador</a>
                </p>
                <p>
                    <a href="#" class="text-dark">Inmobilarias </a>
                </p>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Dejanos Ayudarte </h5>
                <hr class="mb-4">
                <p>
                    <li class="fas fa-home me-3"></li>Güemes 964,Jujuy,Argentina
                </p>
                <p>
                    <li class="fas fa-envelope me-3"></li> testgmail.com
                </p>
                <p>
                    <li class="fas fa-phone me-3"></li> +5438884649
                </p>
                <p>
                    <li class="fas fa-print me-3"></li> +555555
                </p>
            </div> 
            <hr class="mb-4">
            <div class="text-center mb-2">
                <p>
                    Copyright Todos los derechos reservados
                    <a href="#">
                        <strong class="text-white">Test</strong>
                    </a>
                </p>
            </div>

            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-facebook fa-3x" ></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-twiter fa-3x" ></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-google-plus fa-3x" ></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-youtube fa-3x" ></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>